.home-half {
  padding-bottom: 130px !important;
  padding-top: 200px !important;
  min-height: 475px;
}

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.55;
  overflow: hidden;
}

.bg-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-white {
  color: black !important;
}

.home-small-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.home-title {
  font-size: 46px;
  line-height: 64px;
  font-weight: 300;
}

.home-desc {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  max-width: 600px;
}

.navbar-custom.navbar-white {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
}

.navbar-custom {
  padding: 20px 0;
  width: 100%;
  border-radius: 0;
  z-index: 999;
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
}

.fixed-top {
  top: 0;
}

.navbar-custom .navbar-nav li a {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 15px;
  background-color: transparent !important;
  padding: 15px 0;
  margin: 0 10px;
  transition: all 0.4s;
}

.navbar-custom.navbar-white .navbar-brand,
.navbar-custom.navbar-white .navbar-nav li a,
.navbar-white .navbar-toggle {
  color: #101016 !important;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  color: #fff !important;
  font-weight: 700;
  letter-spacing: 2px;
  height: auto;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

a,
a:focus,
a:hover,
button {
  text-decoration: none !important;
  outline: none !important;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

#navbarNav {
  justify-content: flex-end;
}

.navbar-custom.navbar-white .navbar-nav li a:active,
.navbar-custom.navbar-white .navbar-nav li a:focus,
.navbar-custom.navbar-white .navbar-nav li a:hover,
.social-icon:hover i,
.text-custom {
  color: #4d6eb3 !important;
}

#about {
  margin-top: 5%;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

@media (min-width: 769px) {
  .container-about {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.h3,
h3 {
  font-size: 24px;
}

.h2,
h2 {
  font-size: 30px;
}

.margin-t-30 {
  margin-top: 30px;
}

.features-item-list li {
  position: relative;
  line-height: 24px;
  font-size: 15px;
  padding: 7px 0 7px 20px;
}

.text-muted {
  color: #858d96 !important;
}

p {
  font-size: 14.4px;
  line-height: 24px;
}

.features-item-list li:before {
  content: '';
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 14px;
}

.features-item-list li:before,
.section-title-border {
  background-color: #4d6eb3;
}

.features-img {
  max-width: 400px;
}

.img-fluid {
  border-radius: 10px;
}

#projects {
  position: relative;
  overflow-y: scroll;
}

.section-title-border {
  width: 50px;
  height: 2px;
  margin-right: auto;
  margin-left: auto;
}

.margin-t-20 {
  margin-top: 20px;
}

.project-box.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-name {
  font-size: 16px;
  padding-top: 20px;
  margin-bottom: 7px;
}

.project-designation {
  font-size: 13px;
  color: #a8aeb4;
}

p {
  line-height: 24px;
}

.container-member {
  position: relative;
}

.container-member,
a .link-to-website {
  height: 210px;
  width: 210px;
  position: relative;
  border-radius: 2px;
}

.container-member > img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  border-radius: 2px;
}

.img-fluid {
  border-radius: 10px;
  cursor: pointer;
}

.project-description-text {
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  border: 1px solid gray;
  height: 30px;
  align-items: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#projects a {
  color: #212529;
}

#projects a:hover {
  color: white;
}

.project-description-text:hover {
  color: white;
  background-color: #212529;
}

.project-description-text:hover > a {
  color: white;
}

.github-text {
  margin-left: 4px;
}

.section-subtitle {
  letter-spacing: 0.02em;
}

.padding-t-30 {
  padding-top: 30px;
}

.bg-light {
  background-color: #fafbfe !important;
}

.services-box {
  padding: 15px 10px;
}

.services-box i {
  font-size: 28px;
  margin-bottom: 15px;
}

.h4,
h4 {
  font-size: 18px;
}

.h5,
h5 {
  font-size: 14px;
}

.row-direction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row-direction > ul {
  padding: 10px;
}

.social-icon {
  border: 2px solid #40434e;
  border-radius: 50%;
  color: #6b707d;
  width: 36px;
  height: 36px;
  display: block;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  transition: all 0.3s ease-in;
}

.social-icon:hover {
  background-color: #212529 !important;
}

.social-icon:hover > i {
  color: white !important;
}

.footer-alt {
  padding: 15px 0;
  background-color: #2e313a;
}

.copy-rights {
  margin-bottom: 0;
  line-height: 36px;
}

.buttonContainer {
  display: flex;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(5, 5, 5); /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(14, 13, 13);
  }
}
